@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body{
    background: linear-gradient(to right, #db9db3 15%, #747ed8 100%);
}
.no{
    font-family: 'Lato', sans-serif;
    text-align:center;
    font-size:40px;
    color:rgb(253, 175, 175);
    font-weight:bolder;
    padding-top:30px;
}
.yes{
    text-align:left;
  width:340px;
  padding-left:5px;
  margin-left:585px;
    margin-top:40px;
    background-color: rgb(229, 233, 236);
    border-radius:5px;
    
}
.form-group{
    height:100px;
    padding-top:10px;
    padding-bottom:10px;

}
.btn{
    margin-bottom:10px;
    margin-top:10px;
    color: rgb(48, 150, 116);
}
@media screen and (max-width:720px){
.yes{
    margin-left:14px;
    width:280px;
}
.no{
    font-size:20px;
}

}